body {
    font-family: Verdana, sans-serif; 
    margin: 16;                    
    padding: 16px;                
    background: #aec0cf;
    text-align: center; 
}
table {
    width: 100%;                  
    table-layout: fixed;          
    border: 1px solid black;     
   
     background: #e5e6e7; 
}
td {
    padding: 12px;               
    border: 1px solid black;   
}
tr:hover td {
    background: #d6d7d8;           
}

a[href="zadanie1.html"],
a[href="zadanie2.html"],
a[href="zadanie3.html"],
a[href="zadanie4.html"],
a[href="faktura.xml" ],
a[href = "zadanie6.html"]{
    
    display: block;   
    width: 150px;
    margin: 10px auto;    
    padding: 7px 14px;            
    background:#4d80aa;        
    color: white;                 
    text-decoration: none;        
    border-radius: 5px;           
    margin-top: 20px; 
    transition: transform 0.2s ease;

}
a[href="index.html"],
a[href="zadanie31.html"],
a[href="zadanie32.html"],
a[href="zadanie33.html"]{
    
    display: block;   
    width: 250px;
    margin: 10px auto;    
    padding: 7px 14px;                   
    color: white;     
    text-decoration: none;                 
    border-radius: 5px;           
    margin-top: 20px; 
    transition: transform 0.2s ease;
}
a[href="zadanie1.html"]:hover,
a[href="zadanie2.html"]:hover,
a[href="zadanie3.html"]:hover,
a[href="index.html"]:hover,
a[href="zadanie31.html"]:hover,
a[href="zadanie32.html"]:hover,
a[href="zadanie33.html"]:hover,
a[href="zadanie4.html"]:hover,
a[href="faktura.xml" ]:hover,
a[href = "zadanie6.html"]:hover
 {
    transform: scale(1.1); 
}
a[href="index.html"] {
    background: #1564a5;  
}

a[href="zadanie31.html"] {
    background: #87a0b6;   
}

a[href="zadanie32.html"] {
    background:#7392ac   
}

a[href="zadanie33.html"] {
    background:#4078a7;   
}

img {
    width: 100%;              
    height: auto;            
    display: block;       
  
}
form {
    margin: 40px auto; 
    padding: 20px;              
    max-width: 400px;             
    background: #e5e6e7;         
    border: 1px solid #ccc;       
    border-radius: 8px;         
    text-align: left;           
}
label {
  margin-right: 6px; 
}
.calculator {
    width: 280px; 
    margin: 20px auto;
    border: 1px solid #051b2d; 
    border-radius: 8px; 
    overflow: hidden;
    background-color: #1564a5;
}
#display {
    background-color: #222;
    color: white;
    width: 100%;
    text-align: right;
    padding: 10px;
    height: 70px;
    box-sizing: border-box; 
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.buttons button {
    height: 70px; 
    font-size: 1.5em;
    border: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
}
.buttons button.equals {
   grid-column: span 4; 
   background-color: #64d264;
   color: white;
}
.back-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background:#4d80aa;
    color: white;
   
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
   
}
.two-columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 20px;
}

.column {
    width: 48%;
}

.form-box {
    width: 400px;
    margin: 40px auto;      
    padding: 20px;
    background: #e5e6e7;   
    border: 1px solid #ccc;
    border-radius: 8px;
}



